{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> We are <a href="https://wearesilverbullet.com/">SilverBullet</a> organisation and we make sure that our client's dignity on top. We have services in software development, maintaining, updating, cloud computing services, CRM, web designing and many more! Do not forget to visit our website by clicking on this button below.</p>
        <a href="https://wearesilverbullet.com/" class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}